{% extends 'base.html.twig' %}

{% block body %}

    <body>
        {{parent()}}

        <article>
            <div class="dishe_img">

            </div>
            <div class="dish_info">
                <h3 class="item_name">   Carta</h3>
                {% for cargo in carta %}
                    <a href="#"><img src="{{cargo.imagen}}" alt="" title=""/></a>
                    <h1 class="item_desc">{{ cargo.nombre_es }}&nbsp&nbsp &nbsp &nbsp   {{ cargo.descripcion_es }}</h1>
                {% endfor %}
            </div>

        </article>
            
        {% include 'footer.html.twig' %}

    </body>
</html>



{% endblock %}