{% extends 'base.html.twig' %}

{% block body %}

    <body>

        {{parent()}}

        <div class="espacio">
            <div class="direccion">
                <section class="info">
                    <div class="title">
                        <h3>Casa Irene</h3>
                        <span class="separator"></span>
                    </div>
                </section>



                <p>Almogàvers 123, 08018 Barcelona</p> 

                <p>933 04 17 27</p>

                <p>
                    Domingo a jueves
                    12:30 a 23:30<br/><br/>
                    Viernes y sábados
                    13:00 a 01:00
                </p>
            </div>


            <div class="googleMap" style="width:100%;height:400px;">


                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d95754.54582923392!2d2.1591404074207503!3d41.410364254091675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2ce5e151b3383c3c!2sNetmind!5e0!3m2!1ses!2ses!4v1494234079122" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>


        {% include 'footer.html.twig' %}

    </body>
</html>



{% endblock %}

