{# empty Twig template #}
{% block medio %}

{% endblock %}

{% block footer %}
    <!--  start footer  -->
    <footer>
        <div class="wrapper">
            <div class="col-md-12">
                <section class="copyrights"> 
                    <p class="lulu"><strong>Casa Irene</strong></p>
                    <p>© Todos los derechos reservados 2017.</p>
                </section>
            </div>
        </div>
    </footer>
    <!--  end footer  -->
{% endblock %}
