{% extends 'base.html.twig' %}
{% block funcion1 %}
    <script>
        $(function () {
            $.datepicker.setDefaults($.datepicker.regional["es"]);
            $("#datepicker").datepicker({

                firstDay: 1,
                onSelect: function (date) {
                    alert(date)
                },
            });
        });
    </script>
{% endblock %}
{% block body %}


    {{parent()}}
    <div class='row'>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <h2>Reserva tu mesa :</h2>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Reserva" />
            {{ form_end(form) }}
        </div>
    </div>
    {% include 'footer.html.twig' %}





{% endblock %}
{# style="position: absolute; top: 700px; left: 300px" #}
{#style="position: absolute; top: 735px; left: 800px" #}

